body {
    margin: 0;
    background: bisque;
    text-align: center;
}

title {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 30px;
    size: 100px;
}

img {
  width: 300px;
  height: auto;
}

.links {
  margin-top: 20px;
}

.links a {
  margin-right: 15px;
  size: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: "Zilla slab", serif;
}